* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	/*background: #f7fcff;*/
	background: #e2eef6;
}

.header {
	display: flex;
	height: 50px;
	width: 100vw;
	background: #4680dc;
	justify-content: center;
	align-items: center;
	top: 0;
}

.headerHome {
  display: flex;
  height: 50px;
  width: 100vw;
  /*background: #4680dc;*/
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 0.3s;
}

.headerHome.sticky {
  background: #1f63b4;
}

.h4 {
	color: #ffef4a;
	font-size: 24px;
}

.h4 span {
	/*color: #ffc107;*/
	color: #fff;
}

.img-profile {
	width: 50px;
	border-radius: 50%;
	border: 2px #727272 solid;
}

.img-thumb {
  max-width: 100%;
}

.img-brand {
  max-width: 100%;
  width: auto;
  height: 50px;
}

section p, section ol li {
  font-size: 14px;
  font-family: 'Poppin', serif;
}